/* CSS for Login Page */
.login-container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 90px;
}

.login-container h1 {
  text-align: center;
}

.login-container form {
  margin-top: 20px;
}

.login-container label,
.login-container input,
.login-container button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}
.login-container input,
.login-container button {
  border: 1px solid rgb(37, 37, 37);
  height: 30px;
}

.login-container label {
  font-weight: bold;
}

.login-container input,
.login-container button {
  padding: 5px;
  font-size: 16px;
}

.login-container button {
  background-color: #1c2b35;
  height: 50px;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #254255;
}
